<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Opdrachten_C_Sharp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Opdracht 1
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Opdracht1" asp-action="Opdracht1_1">Opdracht 1.1</a></li>
                                <li><a asp-controller="Opdracht1" asp-action="Opdracht1_2">Opdracht 1.2</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Opdracht 2
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Opdracht2" asp-action="Opdracht2_1">Opdracht 2.1</a></li>
                                <li><a asp-controller="Opdracht2" asp-action="Opdracht2_2">Opdracht 2.2</a></li>
                                <li><a asp-controller="Opdracht2" asp-action="Opdracht2_3">Opdracht 2.3</a></li>
                                <li><a asp-controller="Opdracht2" asp-action="Opdracht2_4">Opdracht 2.4</a></li>

                            </ul>

                        </li>
                        <li class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Opdracht 3
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_1">Opdracht 3.1</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_2">Opdracht 3.2</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_3">Opdracht 3.3</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_4">Opdracht 3.4</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_5">Opdracht 3.5</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_6">Opdracht 3.6</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_7">Opdracht 3.7</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_8">Opdracht 3.8</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_9">Opdracht 3.9</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_10">Opdracht 3.10</a></li>
                                <li><a asp-controller="Opdracht3" asp-action="Opdracht3_11">Opdracht 3.11</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Opdracht 4
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Opdracht4" asp-action="Opdracht4_1">Opdracht 4.1</a></li>
                                <li><a asp-controller="Opdracht4" asp-action="Opdracht4_2">Opdracht 4.2</a></li>
                                <li><a asp-controller="Opdracht4" asp-action="Opdracht4_3">Opdracht 4.3</a></li>
                                <li><a asp-controller="Opdracht4" asp-action="Opdracht4_4">Opdracht 4.4</a></li>
                                <li><a asp-controller="Opdracht4" asp-action="Opdracht4_5">Opdracht 4.5</a></li>
                                <li><a asp-controller="Opdracht4" asp-action="Opdracht4_6">Opdracht 4.6</a></li>
                                <li><a asp-controller="Opdracht4" asp-action="Opdracht4_7">Opdracht 4.7</a></li>
                                <li><a asp-controller="Opdracht4" asp-action="Opdracht4_8">Opdracht 4.8</a></li>
                                <li><a asp-controller="Opdracht4" asp-action="Opdracht4_16">Opdracht 4.16</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Opdracht 5
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Opdracht5" asp-action="Opdracht5_1">Opdracht 5.1</a></li>
                                <li><a asp-controller="Opdracht5" asp-action="Opdracht5_8">Opdracht 5.8</a></li>
                                <li><a asp-controller="Opdracht5" asp-action="Opdracht5_22">Opdracht 5.22</a></li>

                            </ul>

                        </li>
                        <li class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Opdracht 6
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Opdracht6" asp-action="Opdracht6_3">Opdracht 6.3</a></li>
                                <li><a asp-controller="Opdracht6" asp-action="Opdracht6_7">Opdracht 6.7</a></li>
                                <li><a asp-controller="Opdracht6" asp-action="Opdracht6_14">Opdracht 6.14</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Opdracht 7
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_1">Opdracht 7.1</a></li>
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_2">Opdracht 7.2</a></li>
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_3">Opdracht 7.3</a></li>
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_4">Opdracht 7.4</a></li>
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_5">Opdracht 7.5</a></li>
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_6">Opdracht 7.6</a></li>
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_12">Opdracht 7.12</a></li>
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_13">Opdracht 7.13</a></li>
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_14">Opdracht 7.14</a></li>
                                <li><a asp-controller="Opdracht7" asp-action="Opdracht7_15">Opdracht 7.15</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ROC van Twente (Marcel Roesink)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
