<form asp-action="Opdracht3_6" method="post">
    <table class="table table-active">
        <tr>
            <td>
                Studentnummer
            </td>
            <td colspan="2">
                <input type="text" name="studentnummer" />
            </td>
        </tr>
        <tr>
            <td>
                Roepnaam
            </td>
            <td colspan="2">
                <input type="text" name="voornaam" />
            </td>
        </tr>
        <tr>
            <td>
                Achternaam
            </td>
            <td colspan="2">
                <input type="text" name="achternaam" />
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>Cijfer 1</th>
            <th>Cijfer 2</th>
        </tr>
        <tr>
            <td>
                Nederlands
            </td>
            <td>
                <input type="text" name="cijfers1" />
            </td>
            <td>
                <input type="text" name="cijfers2" />
            </td>
        </tr>
        <tr>
            <td>
                Engels
            </td>
            <td>
                <input type="text" name="cijfers1" />
            </td>
            <td>
                <input type="text" name="cijfers2" />
            </td>
        </tr>
        <tr>
            <td>
                Wiskunde
            </td>
            <td>
                <input type="text" name="cijfers1" />
            </td>
            <td>
                <input type="text" name="cijfers2" />
            </td>
        </tr>
        <tr>
            <td>
                Programmeren
            </td>
            <td>
                <input type="text" name="cijfers1" />
            </td>
            <td>
                <input type="text" name="cijfers2" />
            </td>
        </tr>
        <tr>
            <td>
                Databases
            </td>
            <td>
                <input type="text" name="cijfers1" />
            </td>
            <td>
                <input type="text" name="cijfers2" />
            </td>
        </tr>
        <tr>
            <td>
                Algoritmes
            </td>
            <td>
                <input type="text" name="cijfers1" />
            </td>
            <td>
                <input type="text" name="cijfers2" />
            </td>
        </tr>

    </table>
    <input class="btn btn-info" type="submit" value="Rapport" />
</form>

