@DateTime.Now

<table class="table table-dark">
    <tr>
        <td>Jaar</td>
        <td>@ViewBag.Year</td>
    </tr>
        <tr>
        <td>Maand</td>
        <td>@ViewBag.Month</td>
    </tr>
</table>