<form>
    Voer een datum in 
    <input type="text" name="datum" placeholder="yyyy-mm-dd"/>
</form>
@if(ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}
@if(ViewBag.Days != null)
{
    <h2>In de maand @ViewBag.Month zitten@ViewBag.Days dagen</h2>
}