<form method="get">
    <table class="table table-active">
        <tr>
            <td>Werkuren</td>
            <td><input id="hours" name="hours" required value=@ViewData["hours"]/></td>
        </tr>
        <tr>
            <td>Leeftijd in jaren</td>
            <td><input type="number" min="1" max="10" name="age" required value=@ViewData["age"]/></td>
        </tr>
                <tr>
            <td>Storingen per jaar</td>
            <td><input type="number" min="1" max="100" name="failures" required value=@ViewData["hours"] /></td>
        </tr>
    </table>
    <input style="margin:50px 0;" class="btn-lg btn-info" type="submit" value="Status" />
</form>
<h2>@ViewBag.Message</h2>