<h1>@DateTime.Now.ToShortDateString()</h1>
<hr />
<form>
    <select asp-items=@ViewBag.Languages name="language" onchange="showSelected();">
        <option value="">-- Selecteer taal --</option>
    </select>
</form>
<br />
@if(ViewBag.Message != "")
{
    <h2>@ViewBag.Message</h2>
}

<script>
function showSelected(){
	var car = document.getElementById("cars");
    alert(car.value);
}
</script>