<form>
    <table>
        <tr>
            <td>Eerste getal</td>
            <td><input type="number" name="number1" value="@ViewBag.Number1"/></td>
        </tr>
                <tr>
            <td>Tweede getal</td>
            <td><input type="number" name="number2" value="@ViewBag.Number2"/></td>
        </tr>
    </table>
    <input type="submit" class="btn-primary"/>
</form>
<h2>@ViewBag.Result</h2>