<style>
    img{
        margin:50px;
    }
    td {
        padding: 3px;
    }
</style>
<form method="get">
    <table class="table-active">
        <tr>
            <td>Voornaam</td>
            <td><input name="firstName" required/></td>
        </tr>
                <tr>
            <td>Geboortedatum</td>
            <td><input type="date" name="birthDate" required/></td>
        </tr>
    </table>
    <input style="margin:50px 0;" class="btn-lg btn-info" type="submit" value="Toon sterrenbeeld"/>
</form>

@if(ViewBag.Zodiac != null)
{
    string img = @ViewBag.Zodiac + ".png";
    <h2>@ViewBag.FirstName, jouw sterrenbeeld is @ViewBag.Zodiac.</h2>
    <img src="~/images/zodiac/@img"/>
    <a href="https://www.mediumchat.nl/sterrenbeelden/@ViewBag.Zodiac" target="_blank">Meer weten over @ViewBag.Zodiac?</a>
}
