@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Opdrachten C#</h1>
    <h4>ROC van Twente</h4>
    <p>Uitgevoerd door Marcel Roesink</p>
</div>
<img class="img-fluid text-center" src="~/images/OIP.jpg" />
